.Projects {
    margin-top: 190px;
}
.project-box {
    border: solid;
    padding: 14px;
    background-color: #171F38;
}

.madrisah-color {
    color: white;
}
.madrisah-font {
    font-size: 32px;
}
.project-img {
    width: 100%;
}
.madrisah-flex {
    display: flex;
    color: white;
    list-style: none;
}
.madrisah-round {
    display: flex;
    color: white;
}

.madrisah-round span {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 11px;
    border-radius: 150px;
    margin-top: 12px;
    background-color: #424C68;
}

.project-video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.project-box {
    position: relative;
    margin-bottom: 20px;
}

.video-container {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.video-container iframe {
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (max-width:768px) {
    .madrisah-round{
        flex-direction: column;
    }
    
}
