i{
    margin-left: 12px;
}
.footer{
    margin-top: 106px;
    background-color: #F3F3F3 ;
}
@media  screen and (max-width:768px) {
    .footer{
        padding-left: 22px;
        margin-top: 50px;
 
        
    }
    .footer-row{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .footer i{
        margin-left: 4px;
    }
}