.project{
    margin-top: 150px;
}
.project-img{
    height: 100%;
    width:100%;
}
.project-box{
    margin-top: 60px;
}

.project-video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.project-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.project-font{
    font-family: 'Leckerli One';
}

@media  screen and (max-width:768px) {
    .project-box{
        margin-top: 30px;
        font-family: 'DM Serif Display'
    }
    .project{
        margin-top: 100px;
    }
    
}