.resume{
    margin-top: 160px;
}
.resume-size{
    font-size: 43px;
    font-weight: bold;
}
.resume-row{
    margin-top: 80px;
}
.resume-edt{
    font-size: 18px;
    font-weight: bold;
    margin-left: 0px;
}
.resume-top{
    display: inline-block;
    margin-top: 70px;
}
.resume-box{
    display: inline-block;
    margin-top: 25px;
}
.resume-font-two{
    font-family: Jacquard ;
    font-weight: bold;
}
.resume-font{
    font-family: Caveat;
}
body{
    background-color: #F3F3F3 ;
}
.resume-skills{
    margin-top: 30px;
    margin-left: 0px;
}

@media screen and (max-width:768px) {
    .resume{
        padding-left:15px ;
        padding-right: 15px;
    }
    .resume-skills li{
        margin-left: 0px;
    }
  
    
}